mise.toml
__pycache__/conftest.cpython-314-pytest-9.0.2.pyc
utils/__pycache__/__init__.cpython-314.pyc
utils/__pycache__/api_client.cpython-314.pyc
utils/__pycache__/artifacts.cpython-314.pyc
utils/__pycache__/data_factory.cpython-314.pyc
.vscode/settings.json
pages/__pycache__/__init__.cpython-314.pyc
pages/__pycache__/new_ticket_page.cpython-314.pyc
pages/__pycache__/tickets_page.cpython-314.pyc
reports/allure-results/2eec05d5-e5f9-4a44-8284-4f7312762d5a-attachment.png
reports/allure-results/3e430d1e-ca89-4a09-887f-e38ebe089a9d-result.json
reports/allure-results/8e69c2dd-36bf-406c-bbdc-8107e8b82427-attachment.png
reports/allure-results/766da754-be00-4dfb-8a3b-186de579acbe-result.json
reports/allure-results/24956f18-cd79-4eb6-bf95-e86fc217e720-attachment.png
reports/allure-results/b3270ad3-989e-43cf-9f6e-396e4ece024e-attachment.png
reports/allure-results/c7e431bf-128a-4aa5-9925-7a3977be2531-attachment.png
reports/allure-results/e21bc165-1adc-4f61-bc0d-144499cc1005-attachment.png
reports/allure-results/fc05a32b-1a97-461f-8bc8-5ab5909ffb8b-attachment.png
tests/__pycache__/__init__.cpython-314.pyc
tests/step_defs/__pycache__/__init__.cpython-314.pyc
tests/step_defs/__pycache__/test_tickets_steps.cpython-314-pytest-9.0.2.pyc
